* {
    box-sizing: border-box;
  }

#calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 90px auto;
    padding: 24px;
    border: solid black;
    border-radius: 32px;
    background-color: rgb(197, 231, 206);
}

button {
    float: left;
    width: 24%;
    aspect-ratio: 1/1;
    padding: 4px;
    font-size: 24px;
    margin: 2px;
    border-radius: 8px;
}

#Escape,
#Backspace{
    float: left;
    width: 49%;
    aspect-ratio: 2.5/1;
    font-size: 36px;
}

#Backspace {
    background-color: rgb(203, 162, 241);
}

#Escape{
    background-color: beige;
}
form {
    border: solid grey 1px;
    text-align: right;
    max-width: 400px;
    padding: 16px 4px;
    background-color: white;
    border-radius: 8px;
}

input {
    font-size: 32px;
    text-align: right;
    border: none;
    margin: 6px 0;
    max-width: 390px;
}

#upper-display {
    font-size: 18px;
    color: grey;
    width: 400px;
}

#button-container {
    margin-top: 16px;
    max-width: 404px;
}

.digit{
    background-color: rgb(154, 194, 224);
}

.operator {
    background-color: rgb(243, 164, 136);
}

.digit-highlight{
    background-color: rgb(94, 157, 204);
}

.operator-highlight{
    background-color: rgb(216, 105, 65);
}